In [3]:
# Question 151
# Write a Python program to find if a given string starts with a given character using Lambda.

# My Solution
starts_with = lambda x: True if x.startswith("p") else False
starts_with("pact")

True

In [12]:
# Question 152
# Write a Python program to extract year, month, date and time using Lambda.

# My Solution
import datetime
now = datetime.datetime.now()
extracts = lambda x: (x.year, x.day, x.month)
extracts(now)

(2020, 13, 4)

In [16]:
# Question 153
# Write a Python program to check whether a given string is number or not using Lambda

# My Solution
is_number = lambda x: x.isnumeric()
is_number("3")

True

In [5]:
# Question 154
# Write a Python program to create Fibonacci series up to n using Lambda

# My Solution
from functools import reduce
fibonacci = lambda n: reduce(lambda x, _: x+[x[-1]+x[-2]],
                                range(n-2), [0, 1])
fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [11]:
# Question 155
# Write a Python program to find intersection of two given arrays using Lambda

# My Solution
array_one = [1, 3, 5, 6, 7]
array_two = [3, 5, 8, 9]
intersection_find = list(filter(lambda x: x in array_one, array_two)) 
intersection_find
3 in array_one, array_two

(True, [3, 5, 8, 9])

In [18]:
# Question 156
# Write a Python program to rearrange positive and negative numbers in a given array using Lambda.

# My Solution
array_target = [-2, -3, -4, 2, -5, 6, 10]
result = [x for x in array_target if x < 0] + [x for x in array_target if x > 0]
result

[-2, -3, -4, -5, 2, 6, 10]

In [13]:
# Question 157
# Write a Python program to count the even, odd numbers in a given array of integers using Lambda.

# My Solution
array_target = [2, 4, 6, 7, 10, 12, 15, 13]
num_even = [x for x in array_target if x % 2 == 0]
num_odd = [x for x in array_target if x % 2 != 0]
print("Number of even number:",  len(num_even))
print("Number of odd number:", len(num_odd))

Number of even number: 5
Number of odd number: 3

In [16]:
# Question 158
# Write a Python program to filter a given list whether the values in the list 
# are having length of 6 using Lambda.

# My Solution
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
length_of_six = filter(lambda x: len(x) == 6, weekdays)
list(length_of_six)

['Monday', 'Friday', 'Sunday']

In [19]:
# Question 159
# Write a Python program to add two given lists using map and lambda

# My Solution
array_one = [1, 2, 3]
array_two = [3, 4, 5]
result = list(map(lambda x, y: x + y, array_one, array_two))
result

[4, 6, 8]

### Pynative python exercises
https://pynative.com/python-basic-exercise-for-beginners/

In [1]:
# Question 160
# Given a two integer numbers return their product and  if the product is greater than 1000, then return their sum

# My Solution
def product_identifier(num1, num2):
    product = num1 * num2
    if product > 1000:
        return num1 + num2
    else:
        return product
product_identifier(3, 500)

503

In [2]:
# Question 161
# Given a range of first 10 numbers, Iterate from start number to the end number and print the sum of the current number and previous number

# My Solution
def solution(n):
    previous_num = 0
    for i in range(n):
        total = previous_num + i
        print("previous num: ", previous_num, "current num: ", i, "total: ", total)
        previous_num = i
solution(10)

previous num:  0 current num:  0 total:  0
previous num:  0 current num:  1 total:  1
previous num:  1 current num:  2 total:  3
previous num:  2 current num:  3 total:  5
previous num:  3 current num:  4 total:  7
previous num:  4 current num:  5 total:  9
previous num:  5 current num:  6 total:  11
previous num:  6 current num:  7 total:  13
previous num:  7 current num:  8 total:  15
previous num:  8 current num:  9 total:  17

In [3]:
# Question 162
# Given a string, display only those characters which are present at an even index number.

# My Solution
def solution(s):
    counter = 0
    for i in s:
        if counter % 2 == 0:
            print(i)
        counter = counter + 1
solution("cunt")

c
n

In [ ]:
# Question 163
# Given a string and an integer number n, 
# remove characters from a string starting from zero up to n and return a new string

# My Solution
def solution(s, n):
    length = len(s)
    if n > length:
        return False
    else:
        return s[n:]
solution("cunt", 2)

In [ ]:
# Question 164
# Given a list of numbers, return True if first and last number of a list is same

# My Solution
def equal_or_not(target_list):
    first = target_list[0]
    last = target_list[len(target_list) - 1]
    if first == last:
        return True
    else:
        return False
equal_or_not([1, 2, 3, 1, 2])

In [ ]:
# Question 165
# Given a list of numbers, Iterate it and print only those numbers which are 
# divisible of 5

# My Solution
def solution(target):
    for i in target:
        if i % 5 == 0:
            print(i)
        else:
            pass
solution([1, 4, 5, 10])

In [ ]:
# Question 166
# Return the total count of sub-string “Emma” appears in the given string

# My Solution
def solution(s):
    count = s.count("Emma")
    return count
solution("Emma is a bitch, Emma")

In [4]:
# Question 167
# Print the following pattern
# 1 
# 2 2 
# 3 3 3 
# 4 4 4 4 
# 5 5 5 5 5

# My Solution
for i in range(1, 6):
    string = ""
    for j in range (0, i):
        string = string + str(i)
    print(string)

1
22
333
4444
55555

In [ ]:
# Question 168
# Reverse a given number and return true if it is the same as the original number

# My Solution
def solution(n):
    reversed_num = str(n)[::-1]
    if str(n) == reversed_num:
        return True
    else:
        return False
solution("abad")

In [5]:
# Question 169
# Print multiplication table form 1 to 10
# 1  2 3 4 5 6 7 8 9 10 		
# 2  4 6 8 10 12 14 16 18 20 		
# 3  6 9 12 15 18 21 24 27 30 		
# 4  8 12 16 20 24 28 32 36 40 		
# 5  10 15 20 25 30 35 40 45 50 		
# 6  12 18 24 30 36 42 48 54 60 		
# 7  14 21 28 35 42 49 56 63 70 		
# 8  16 24 32 40 48 56 64 72 80 		
# 9  18 27 36 45 54 63 72 81 90 		
# 10 20 30 40 50 60 70 80 90 100 

for i in range(1, 11):
    row = ""
    for j in range(1, 11):
        row = row + str(i * j) + " "
    print(row)

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [10]:
# Question 170
# Print downward Half-Pyramid Pattern with Star (asterisk)
# * * * * *  
# * * * *  
# * * *  
# * *  
# *
for i in range (1,7):
    row = ""
    for j in range (1, 7 - i):
        row = row + "*" + " "
    print(row)

* * * * *
* * * *
* * *
* *
*

In [17]:
# Question 171
# Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.
# Note here exp is a non-negative integer, and the base is an integer.

# Expected Output:

# Case 1:

# base = 2
# exponent = 5

# 2 raises to the power of 5 is: 32 i.e. (2 *2 * 2 *2 *2 = 32)

# My Solution
def exponent(base, exp):
    result = base
    for i in range(1, exp):
        result = result * base
    return result
exponent(2, 3)

8

### Pynative Loop exercises
https://pynative.com/python-if-else-and-for-loop-exercise-with-solutions/

In [20]:
# Question 172
# Print First 10 natural numbers using while loop

# My Solution
i = 0
while i < 11:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9
10

In [25]:
# Question 173
# Print the following pattern
# 1 
# 1 2 
# 1 2 3 
# 1 2 3 4 
# 1 2 3 4 5

# My Solution
for i in range(1, 6):
    row = ""
    for j in range(1, i + 1):
        row = row + str(j)
    print(row)

1
12
123
1234
12345

In [29]:
# Question 174
# Accept number from user and calculate the sum of all number between 1 and given number
# For example user given 10 so the output should be 55

# My Solution
def solution(given):
    result = 0
    for i in range(1, given + 1):
        print(i)
        result = result + i
    return result
solution(10)

1
2
3
4
5
6
7
8
9
10

55

In [31]:
# Question 175
# Print multiplication table of given number

# My Solution
def solution(given):
    for i in range(1, 11):
        print(given * i)
solution(2)

2
4
6
8
10
12
14
16
18
20

In [35]:
# Question 176
# Given a list iterate it and display numbers which are divisible
# by 5 and if you find number greater than 150 stop the loop iteration

# list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

# My Solution
def solution(target_list):
    for i in target_list:
        if i > 150:
            break
        else:
            if i % 5 == 0:
                print(i)
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
solution(list1)

15
55
75
150

In [3]:
# Question 177
# Given a number count the total number of digits in a number
# For example, the number is 75869, so the output should be 5.

# My Solution
def digit_count(n):
    return len(str(n))
digit_count(123456)

6

In [27]:
# Question 178
# Print the following pattern using for loop
# 5 4 3 2 1 
# 4 3 2 1 
# 3 2 1 
# 2 1 
# 1

# My Solution
for i in range(1, 6):
    row = ""
    for j in range(6 - i, 0, -1):
        row += str(j) + " "
    print(row)

# 5 4 3 2 1

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### range(start, end, -1) literate through decending order

In [41]:
# Question 179
# Reverse the following list using for loop
# list1 = [10, 20, 30, 40, 50]

# My Solution
def list_reverse(target):
    result = []
    for i in range(len(target)):
        result.append(0)
    index_count = 0
    for i in target:
        result[len(target) - index_count - 1] = i
        index_count += 1
    return result
list1 = [10, 20, 30, 40, 50]
list_reverse(list1)

# Their solution
# list1 = [10, 20, 30, 40, 50]
# start = len(list1) - 1
# stop = -1
# step = -1
# for i in range(start, stop, step):
#     print(list1[i])

50
40
30
20
10

In [42]:
# Question 180
# Display -10 to -1 using for loop

# My Solution
for i in range (-10, 0, 1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [44]:
# Question 181
# Display a message “Done” after successful execution of for loop

# My Solution
for i in range(5):
    print(i)
else:
    print("done")

0
1
2
3
4
done

### Pynative function exercises
https://pynative.com/python-functions-exercise-with-solutions/

In [1]:
# Question 182
# Create a function that can accept two arguments name and age and print its value

# My Solution
def solution(name, age):
    print(name, age)
solution("yue", 25)

yue 25

In [5]:
# Question 183
# Write a function func1() such that it can accept a variable length of  argument and print all arguments value

# My Solution
def solution(*argv):
    for i in argv:
        print(i)
solution(20, 30, 40)

20
30
40

In [7]:
# Question 184
# Write a function calculation() such that it can accept two variables and 
# calculate the addition and subtraction of it. And also it must return both addition and subtraction in a single return call

# My Solution
def solution(num1, num2):
    addition = num1 + num2
    subtraction = num1 - num2
    return addition, subtraction
solution(2, 3)

(5, -1)

In [10]:
# Question 185
# Create a function showEmployee() in such a way that it should accept employee name, 
# and it’s salary and display both, and if the salary is missing in function call it should show it as 9000

# My Solution
def solution(name, salary=9000):
    print(name, salary)
solution("Yue", 3)
solution("Bob")

Yue 3
Bob 9000

In [12]:
# Question 186
# Create an inner function to calculate the addition in the following way
#     Create an outer function that will accept two parameters a and b
#     Create an inner function inside an outer function that will calculate the addition of a and b
#     At last, an outer function will add 5 into addition and return it
# My Solution
def outer(a, b):
    def inner(a, b):
        return a + b
    return inner(a, b) + 5
outer(2, 3)

10

In [2]:
# Question 187
# Write a recursive function to calculate the sum of numbers from 0 to 10

# My Solution
def recrusive(n):
    if n:
        return n + recrusive(n - 1)
    else:
        return 0
recrusive(10)

55

In [5]:
# Question 188
# Assign a different name to function and call it through the new name

# My Solution
# Below is the function displayStudent(name, age). Assign a new name showStudent(name, age)  to it and call through the new name

# def displayStudent(name, age):
#     print(name, age)

# displayStudent("Emma", 26)

# My Solution
def displayStudent(name, age):
    print(name, age)
showStudent = displayStudent 
showStudent("Emma", 29)

Emma 29

In [6]:
# Question 189
# Generate a Python list of all the even numbers between 4 to 30

# My Solution
def generator(start, stop):
    result = []
    for i in range(start, stop + 1):
        if i % 2 == 0:
            result.append(i)
    return result
generator(4, 30)
   
# Their Solution
print(list( range(4, 30, 2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [8]:
# Question 190
# Return the largest item from the given list

# aList = [4, 6, 8, 24, 12, 2]

# Expected Output:

# 24

# My Solution
def return_largest(target):
    largest = 0
    for i in target:
        if i >= largest:
            largest = i
    return largest
aList = [4, 6, 8, 24, 12, 2]
return_largest(aList)

24

### Pynative data structure
https://pynative.com/python-data-structure-exercise-for-beginners/

In [14]:
# Question 191
# Given a two list. Create a third list by picking an odd-index element from the first list and even index elements from second.

# For Example:

# listOne = [3, 6, 9, 12, 15, 18, 21]
# listTwo = [4, 8, 12, 16, 20, 24, 28]

# Expected Output:

# Element at odd-index positions from list one
# [6, 12, 18]
# Element at even-index positions from list two
# [4, 12, 20, 28]
# Printing Final third list
# [6, 12, 18, 4, 12, 20, 28]


# My Solution
def list_merge(list1, list2):
    result = []
    for idx, val in enumerate(list1):
        if idx % 2 != 0:
            result.append(val)
    for idx, val in enumerate(list2):
        if idx % 2 == 0:
            result.append(val)
    return result
list1 = [3, 6, 9, 12, 15, 18, 21]
list2 = [4, 8, 12, 16, 20, 24, 28]

list_merge(list1, list2)

# Their solution
# listOne = [3, 6, 9, 12, 15, 18, 21]
# listTwo = [4, 8, 12, 16, 20, 24, 28]
# listThree = list()

# oddElements = listOne[1::2]
# print("Element at odd-index positions from list one")
# print(oddElements)

# EvenElement = listTwo[0::2]
# print("Element at even-index positions from list two")
# print(EvenElement)

# print("Printing Final third list")
# listThree.extend(oddElements)
# listThree.extend(EvenElement)
# print(listThree)

[6, 12, 18, 4, 12, 20, 28]

In [21]:
# Question 192
# Given an input list removes the element at index 4 and add it to the 2nd position and also, at the end of the list
# For example: List = [54, 44, 27, 79, 91, 41]

# Expected Output:

# Original list  [34, 54, 67, 89, 11, 43, 94]
# List After removing element at index 4  [34, 54, 67, 89, 43, 94]
# List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
# List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

# My Solution
# def solution(target):
#     length = len(target)
#     fifth = target[4]
#     target.pop(4)
#     result = []
#     print(target)
#     for index, value in enumerate(target):
#         if index == 2:
#             result.append(fifth)
#             result.append(target[2])
#         else:
#             result.append(value)
#     result.append(fifth)
#     return result
# original = [34, 54, 67, 89, 11, 43, 94]
# solution(original)

# Their Sotlution
original = [34, 54, 67, 89, 11, 43, 94]
fifth = original.pop(4)
original.insert(2, fifth)
original.append(fifth)
original

[34, 54, 11, 67, 89, 43, 94, 11]

In [41]:
# Question 193
# Given a list slice it into a 3 equal chunks and rever each list

# For Example: sampleList = [11, 45, 8, 23, 14, 12, 78, 45, 89]

# Expected Outcome:

# Original list  [11, 45, 8, 23, 14, 12, 78, 45, 89]
# Chunk  1 [11, 45, 8]
# After reversing it  [8, 45, 11]
# Chunk  2 [23, 14, 12]
# After reversing it  [12, 14, 23]
# Chunk  3 [78, 45, 89]
# After reversing it  [89, 45, 78]

# My Solution
sampleList = [11, 45, 8, 23, 14, 12, 78, 45, 89]
length = len(sampleList)
first_split = int(length/3)
second_split = int(length*2/3)
chunk1 = sampleList[:first_split]
chunk2 = sampleList[first_split:second_split]
chunk3 = sampleList[second_split:length]
print(list(reversed(chunk1)))
print(chunk2)
print(chunk3)

[8, 45, 11]
[23, 14, 12]
[78, 45, 89]

In [44]:
# Question 194
# Given a list iterate it and count the occurrence of each element and create a dictionary to show the count of each element

# Expected Output:

# Original list  [11, 45, 8, 11, 23, 45, 23, 45, 89]
# Printing count of each item   {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

# My Solution
def list_count(target):
    frequencies = {}
    for i in target:
        if i in frequencies:
            frequencies[i] += 1
        else:
            frequencies[i] = 1
    return frequencies
original = [11, 45, 8, 11, 23, 45, 23, 45, 89]
list_count(original)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [46]:
# Question 195
# Given a two list of equal size create a set such that it shows the element from both lists in the pair

# Expected Output:

# First List  [2, 3, 4, 5, 6, 7, 8]
# Second List  [4, 9, 16, 25, 36, 49, 64]
# Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

# My Solution
first = [2, 3, 4, 5, 6, 7, 8]
second = [4, 9, 16, 25, 36, 49, 64]
result = zip(first,second)
set(result)

{(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)}

In [50]:
# Question 196
# Given a following two sets find the intersection and remove those elements from the first set

# Expected Output:

# First Set  {65, 42, 78, 83, 23, 57, 29}
# Second Set  {67, 73, 43, 48, 83, 57, 29}

# Intersection is  {57, 83, 29}
# First Set after removing common element  {65, 42, 78, 23}

# My Solution
first = {65, 42, 78, 83, 23, 57, 29}
second = {67, 73, 43, 48, 83, 57, 29}
intersection = first.intersection(second)
result = {x for x in first if x not in intersection}
result

{23, 42, 65, 78}

In [6]:
# Question 197
# Given two sets, Checks if One Set is Subset or superset of Another Set. if the subset is found delete all elements from that set

# For Example:

# firstSet = {27, 43, 34}
# secondSet = {34, 93, 22, 27, 43, 53, 48}

# Expected Output:

# First Set  {57, 83, 29}
# Second Set  {67, 73, 43, 48, 83, 57, 29}

# First set is subset of second set - True
# Second set is subset of First set -  False

# First set is Super set of second set -  False
# Second set is Super set of First set -  True

# First Set  set()
# Second Set  {67, 73, 43, 48, 83, 57, 29}

# My Solution
firstSet = {27, 43, 34}
secondSet = {34, 93, 22, 27, 43, 53, 48}
def sub_detect(set1, set2):
    if firstSet.issubset(secondSet):
        print("first is subset of second")
        return secondSet - firstSet
    elif secondSet.issubset(firstSet):
        print("second is subset of first")
        return firstSet - secondSet
    else:
        return "neither"
sub_detect(firstSet, secondSet)

first is subset of second

{22, 48, 53, 93}

In [11]:
# Question 198
# Iterate a given list and Check if a given element already exists in a dictionary as a key’s value if not delete it from the list

# Given:

# rollNumber = [47, 64, 69, 37, 76, 83, 95, 97]
# sampleDict ={'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}

# Expected Outcome:

# after removing unwanted elemnts from list [47, 69, 76, 97]

# My Solution
def solution(target_list, target_dict):
    for i in target_list:
        if i not in target_dict.values():
            target_list.remove(i)
    return "after removing: " + str(target_list)

rollNumber = [47, 64, 69, 37, 76, 83, 95, 97]
sampleDict ={'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}
solution(rollNumber, sampleDict)

'after removing: [47, 69, 76, 95, 97]'

In [14]:
# Question 199
# Given a dictionary get all values from the dictionary and add it in a list but don’t add duplicates

# Given:

# speed ={'jan':47, 'feb':52, 'march':47, 'April':44, 'May':52, 'June':53, 'july':54, 'Aug':44, 'Sept':54}

# Expected Outcome: [47, 52, 44, 53, 54]

# My Solution
def solution(target):
    return list(set(target.values()))
speed ={'jan':47, 'feb':52, 'march':47, 'April':44, 'May':52, 'June':53, 'july':54, 'Aug':44, 'Sept':54}      
solution(speed)

[44, 47, 52, 53, 54]

In [23]:
# Question 200
# Remove duplicate from a list and create a tuple and find the minimum and maximum number

# For Example:

# sampleList = [87, 45, 41, 65, 94, 41, 99, 94]

# Expected Outcome:

# unique items [87, 45, 41, 65, 99]
# tuple (87, 45, 41, 65, 99)
# min: 41
# max: 99

# My Solution
def solution(target):
    return tuple(set(target))
sampleList = [87, 45, 41, 65, 94, 41, 99, 94]
min(solution(sampleList))
max(solution(sampleList))

99

### Pynative List exercises
https://pynative.com/python-list-exercise-with-solutions/

In [32]:
# Question 201
# Given a Python list you should be able to display Python list in the following order

# aLsit = [100, 200, 300, 400, 500]

# Expected output:

# [500, 400, 300, 200, 100]

# My Solution
def descending_order(target):
    return target.sort()
aList = [100, 200, 300, 400, 500]
aList.sort(reverse=True)
aList

[500, 400, 300, 200, 100]

In [1]:
# Question 202
# Exercise Question 2: Concatenate two lists index-wise

# list1 = ["M", "na", "i", "Ke"] 
# list2 = ["y", "me", "s", "lly"]

# Expected output:

# ['My', 'name', 'is', 'Kelly']

# My Solution

list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]
concat_func = lambda x, y: x + y
list(map(concat_func, list1, list2))

['My', 'name', 'is', 'Kelly']

In [3]:
# Question 203
# Given a Python list. Turn every item of a list into its square

# aList = [1, 2, 3, 4, 5, 6, 7]

# Expected output:

# [1, 4, 9, 16, 25, 36, 49]

# My Solution
aList = [1, 2, 3, 4, 5, 6, 7]
square = lambda x: x * x
list(map(square, aList))

[1, 4, 9, 16, 25, 36, 49]

In [5]:
# Question 204
# Concatenate two lists in the following order

# list1 = ["Hello ", "take "]
# list2 = ["Dear", "Sir"]

# Expected output:

# ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

# My Solution
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
result = [x + y for x in list1 for y in list2]
result

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [14]:
# Question 205
# Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

# list1 = [10, 20, 30, 40]
# list2 = [100, 200, 300, 400]

# My Solution
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
concatenated = list(zip(list1, reversed(list2)))
for i in concatenated:
    print(i[0])
    print(i[1])

10
400
20
300
30
200
40
100

In [15]:
# Question 206
# Remove empty strings from the list of strings

# list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

# Expected output:

# ["Mike", "Emma", "Kelly", "Brad"]

# My Solution
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
[x for x in list1 if x != ""]

['Mike', 'Emma', 'Kelly', 'Brad']